pandas==2.2.2
aiohttp==3.9.5
beautifulsoup4==4.12.3
rich==13.7.1
tqdm==4.66.4
python-dotenv==1.0.1
json-log-formatter==0.5.2
black==24.4.2
ruff==0.4.4
mypy==1.10.0
pytest==8.2.1
pytest-asyncio==0.23.7
typer==0.19.2
shellingham>=1.5.4
Pillow>=9.0.0
